*{
    image-rendering: auto
  }
body{
    background-color: rgb(232, 129, 129);
}
  /* ################ inicio ################*/

.contenedor {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    /* overflow: hidden; */
}

/* ################ MENU DE NAVEGACION ############### */

nav {
    width: 100%;
    height: 80px;
    background-color: #E8151E;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0, 2);
    position: fixed;
    top: 0;
}

.nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.enlaces-header {
    font-weight: 300;
    margin: auto;
    transition: all ease-in-out .6s;
    /* z-index: */
}

.nav .enlaces-header a {
    color: #1e00a5;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 10px;
}

.nav .enlaces-header a:hover {
    color: #ffffff;
    background-color: #110056;
    border-color: #110056;
    transition: all ease-in-out .6s;
}

@keyframes animacion {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}